@use 'variables.scss' as var;
main {
    min-height:calc(100vh - 50px);;
    width: 100%;;
    background-color: var.$crimson;
    display: flex;
    color:var.$cream;
    flex-direction: column;
    align-items: center ;
    h5 {
        font-size:72px;
        font-family: 'IU condensed bold font';
        font-kerning: none;
        font-weight: bold;
    }
    p {
        font-family: 'IU main font';
        font-size: 24px;
        font-weight: 100;
        font-kerning: none; 
    }
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:200px;
    height:100%;
    background-color: var.$cream;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    h4 {
        color:var.$black;
        font-size:36px;
        font-family: 'IU main font';
    }
    margin:20px;
    i {
        font-size: 100px;
        color: var.$crimson;
    }
    p {
        color:var.$black;
        
    }
}
.forecast {
    display: flex;
    flex-wrap:wrap;

}
.title {
    margin-bottom: 0px;
}
.country {
    margin-top:20px;
}
.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    a {
        color:var.$cream;
        text-decoration: none;
        font-size: 32px;
    }
    i {
        font-size: 36px;
        display: flex;
        align-items: center;
        margin-top: 120px;
        padding-right: 100px;
        padding-left: 20px;
        cursor: pointer;
    }
}
.card-hourly {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
  
    background-color: var.$cream;
    border-radius: 10px;
    text-align: center;
    h4 {
        color:var.$black;
        font-size:36px;
        font-family: 'IU main font';
    }
    margin:20px;
   
    p {
        color:var.$black;
        
    }
}